<app-header></app-header>

<div class="container d-flex justify-content-end mt-3 gap-5">
  <select [(ngModel)]="filtroCategoria" (change)="loadData()">
    <option value="-">All</option>
    <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
  </select>
  <select [(ngModel)]="filtroAutore" (change)="loadData()">
    <option value="-">All</option>
    <option *ngFor="let author of authors"
      value="{{author}}">{{author}}</option>
  </select>
  <i class="bi" [class.bi-table]="cardView"
    [class.bi-list]="!cardView"
    (click)="setCardView(!cardView)"></i>
</div>
<div *ngIf="cardView" class="container cards">
  <ng-container *ngIf="libreria.length > 0">
    <ng-container *ngFor="let book of libreria">
      <app-bookcard [book]="book"></app-bookcard>
    </ng-container>
  </ng-container>
</div>
<div *ngIf="!cardView" class="container">
  <table *ngIf="libreria.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Titolo</th>
        <th>Autori</th>
        <th>Generi</th>
        <th>Valutazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of libreria">
        <td class="title" (click)="openBookDetails(book.id)">{{ book.title }}</td>
        <td class="author">{{ book.authors.join(', ') }}</td>
        <td>
          <ng-container *ngFor="let cat of book.categories" >
            <span class="badge bg-secondary m-1">{{cat}}</span>
          </ng-container>
        </td>
        <td>
          <div class="stars">
                <div *ngIf="book.stars !== undefined">
                    <ng-container
                        *ngFor="let star of [1,2,3,4,5]; let i = index">
                        <i
                            class="bi bi-star{{ i < book.stars ? '-fill' : '' }}"></i>
                    </ng-container>
                </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-container *ngIf="libreria.length === 0">
  <div class="alert alert-danger text-center" role="alert">
    NO BOOKS FOUND
  </div>
</ng-container>